---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {

  const posts = await getCollection("insights");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post }
  }));
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<html>
<head>

<title>{post.data.title}</title>

<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />

<meta property="og:title" content={post.data.title} />
<meta property="og:description" content={post.data.summary} />
<meta property="og:image" content={`/heroes/${post.id}.png`} />

<style>

body{
font-family: system-ui;
max-width: 720px;
margin:auto;
padding:60px 20px;
line-height:1.7;
font-size:18px;
}

.hero{
width:100%;
border-radius:10px;
margin-bottom:40px;
}

h1{
font-size:40px;
margin-top:20px;
}

p{
margin:18px 0;
}

</style>

</head>

<body>

<img class="hero" src={`/heroes/${post.id}.png`} alt="hero image" />

<Content />

</body>
</html>
