---
import { getCollection } from "astro:content";

export async function getStaticPaths() {

  const posts = await getCollection("insights");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));

}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html>
<head>

<title>{post.data.title}</title>

<meta property="og:title" content={post.data.title} />
<meta property="og:image" content={`/heroes/${post.slug}.png`} />

</head>

<body>

<img
  src={`/heroes/${post.slug}.png`}
  style="width:100%;max-width:1200px;margin-bottom:40px"
/>

<h1>{post.data.title}</h1>

<Content />

</body>

</html>
